#artistPicture {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  width: 100%;
  max-width: 100% !important;
  height: 50% !important;
  object-fit: cover !important;
  object-position: center !important;
  z-index: -1;
}