.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.gradient-bg-diagonalGray {
    background: radial-gradient(circle at top right, #202020 25%, #050505 75%);

}

.userBar {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/* Modifiche valori classi BS ad hoc  */

.userButton {
    --bs-btn-color: black;
    --bs-btn-bg: black;
    --bs-btn-hover-bg: #383838;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: white;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
}

.ridimensiona {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.cardBuonasera {
    width: 30% !important;
}

.cardBuonasera:hover {
    filter: brightness(150%);
}

.liRicerca:hover {
    filter: brightness(150%);
    background-color: var(--bs-gray-700);
}

#albumCoverPlayerbar {
    height: auto;
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.hover-red:hover {
    color: var(--bs-danger) !important;

}

.hover-green:hover {
    color: var(--bs-primary) !important;
}

.bi-pause-circle-fill {
    color: var(--bs-primary) !important;

}

.imgSearchBar {
    height: 60px !important;
    width: auto !important;
}