body{
    background: linear-gradient(to bottom left, var(--bs-secondary), var(--bs-tertiary));
background-size: cover;
}

a{
    text-decoration: none;
}

.dropdown-menu-login{
    background-color: var(--bs-tertiary);
}

.dropdown-menu-login input{
    background-color: var(--bs-secondary);
}
